*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-lightviolet: hsl(263, 55%, 70%);
  --color-violet: hsl(263, 55%, 52%);
  --color-grayblue-dark: hsl(217, 19%, 35%);
  --color-blackblue-dark: hsl(219, 29%, 14%);

  --color-white: hsl(0, 0%, 100%);
  --color-gray-100: hsl(0, 0%, 81%);
  --color-grayblue-light: hsl(210, 46%, 95%);
}

body {
  min-height: 100vh;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 0.8125rem;
  font-weight: 500;
  background: var(--color-grayblue-light);
}

main {
  display: grid;
  place-items: center;
  min-height: calc(100vh - 2rem);
}

h1 {
  position: absolute;
  inset: 0 0 auto;
  text-align: center;
  color: var(--color-blackblue-dark);
  padding-top: 1rem;
}

section {
  display: grid;
  gap: 1.75rem;
  grid-template-columns: repeat(4, 1fr);
  max-width: 74rem;
  padding: 4rem 2rem 2rem;
}

article {
  padding: 1.5rem 2rem;
  border-radius: 8px;
  background: var(--color-white);
  color: var(--color-grayblue-dark);
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.1);
}

article > div {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1.25rem;
}

article > div img {
  border-radius: 50%;
  width: 2rem;
}

article:nth-of-type(1) > div img {
  border: 2px solid var(--color-lightviolet);
}

article:nth-of-type(4) > div img {
  border: 2px solid var(--color-violet);
}

article > div h2 {
  font-size: 0.85rem;
}

article > div p {
  font-size: 0.75rem;
  opacity: 0.5;
}

article > p:first-of-type {
  font-size: 1.25rem;
  font-weight: 600;
  padding-bottom: 1.25rem;
}

article > p:last-of-type {
  opacity: 0.7;
  line-height: 1.4;
}

article:nth-of-type(1) {
  grid-column: 1 / span 2;
  background: no-repeat top right 5rem url('../images/bg-pattern-quotation.svg')
    var(--color-violet);
  color: var(--color-gray-100);
}

article:nth-of-type(2) {
  background: var(--color-grayblue-dark);
  color: var(--color-gray-100);
}

article:nth-of-type(4) {
  grid-column: 2 / span 2;
  background: var(--color-blackblue-dark);
  color: var(--color-gray-100);
}

article:nth-of-type(5) {
  grid-column: 4;
  grid-row: 1 / span 2;
}

footer {
  height: 2rem;
  font-size: 11px;
  text-align: center;
  padding-top: 0.75rem;
}

footer a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 768px) {
  section {
    grid-template-columns: 1fr;
    width: 100%;
  }

  article:nth-of-type(1),
  article:nth-of-type(4) {
    grid-column: auto;
  }

  article:nth-of-type(5) {
    grid-column: auto;
    grid-row: auto;
  }
}
